{% import "github_wiki.twig" as github_wiki %}
<a name="{{ node.name|lower }}"></a>
Full name:     **{{ node.FullyQualifiedStructuralElementName }}**    
{% if node.parent and node.parent.FullyQualifiedStructuralElementName != '' %}Parent {{ nodetype }}:    **{{ github_wiki.ClassLink(node.parent, node.parent.FullyQualifiedStructuralElementName) }}**  
{% endif %}
{% if node.interfaces is not empty %}Implements:    **{{ node.interfaces|join(', ')|trim|raw }}**  
{% endif %}
{% if node.final %}*This {{ nodetype }} is marked as **final** and can't be subclassed*   
{% endif %}
{% if node.abstract %}*This is an **abstract** {{ nodetype }} that cannot be instantiated directly*   
{% endif %}
{% if node.deprecated %}**Warning:** *this {{ nodetype }} is **deprecated**. This means that this {{ nodetype }} will likely be removed in a future version.*  
{% endif %}

---

### {{ node.summary|raw }}

{{ node.description|raw }}

{# custom tag image ========= #}
{% if node.tags.SKienImage is not empty %}
{% for image in node.tags.SKienImage %}
{% if image.description is not empty %}
{{ github_wiki.Image(image) }}
{% endif %}

{% endfor %}

{% endif %}{# node.tags.SKienImage #}
{# end custom image ========= #}
{# todo ========= #}
{% if node.tags.todo is not empty %}
> **TODO:**
{% for todo in node.tags.todo %}
{% if todo.description is not empty %}
> - {{ todo.description|raw }}
{% endif %}
{% endfor %}

{% endif %}{# node.tags.todo #}

{# end todo ========= #}
{% if node.tags.see is not empty or node.tags.link is not empty %}
**See Also:**
{% for see in node.tags.see %}
- {{ github_wiki.SeeLink(see) }}
{% endfor %}
{% for link in node.tags.link %}
- {{ github_wiki.LinkLink(link) }}
{% endfor %}

{% endif %}{# node.tags.see || node.tags.link #}

{# Check constants #}
{% if node.constants|length > 0 %}

## Constants

| Constant  | Description |
|:---       |:---  |
{% for constant in node.constants %}
{% if constant.name|slice(0, 2) != '__' %}
|<a name="{{ constant.name|lower }}">`{{constant.name}}`|{{constant.summary|raw}}|
{% else %}
|**{{constant.summary|raw}}**||
{% endif %}
{% endfor %}{# for constant #}
{% endif %}{# if constants #}


{% set methods = methods(node) %}
{% set properties = properties(node) %}

{% if methods is not empty or properties is not empty %}
## Overview
| Method | Description |
|:---  |:---         |
{% for property in properties(node)|sortByVisibility %}
|{{ property.name }}|{{ property.summary|raw }}|
{% endfor %}
{% set constructor_found = false %}
{% if node.methods|length > 0 %}
{% for method in node.methods|sortByVisibility %}
{% if method.name != '__construct' or constructor_found == false %}
{% set constructor_found = true %}
{% endif %}{# if method.name != ... #}
| [{{method.name}}](#{{method.name|lower}}) |{{ method.summary|replace({"\n": " ", "\r": " ", "\t": " "})|raw }}|
{% endfor %}
{% endif %}{# if methods #}
{# Check inherited methods #}
{% if node.InheritedMethods|length > 0 %}
|**Inherited methods**| |
{% for method in node.InheritedMethods|sortByVisibility %}
{# constructor(s) from parent(s) only matter if no found so far ... #}
{% if method.name != '__construct' or constructor_found == false %}
{% set constructor_found = true %}
| [{{method.name}}](#{{method.name|lower}}) |{{ method.summary|replace({"\n": " ", "\r": " ", "\t": " "})|raw }}|
{% endif %}{# if method.name != '__construct' #}
{% endfor %}
{% endif %}{# if InheritedMethods #}
{% endif %}

{% set constructor_found = false %}
{% if node.methods|length > 0 %}
## Methods

{% for method in node.methods|sortByVisibility %}
{% if method.name == '__construct' %}{% set constructor_found = true %}{% endif %}
{% include 'method.md.twig' %}
{% endfor %}
{% endif %}{# if methods #}

{# Check inherited methods #}
{% if node.InheritedMethods|length > 0 %}

## Inherited methods

{% for method in node.InheritedMethods|sortByVisibility %}
{# constructor(s) from parent(s) only matter if no found so far ... #}
{% if method.name != '__construct' or constructor_found == false %}
{% set constructor_found = true %}
{% include 'method.md.twig' %}
{% endif %}{# if method.name != '__construct' #}
{% endfor %}

{% endif %}{# if InheritedMethods #}
